.card{

    border-radius: 15px;
    margin: 1rem auto;
    padding: 1rem;
    /* animation-name: animacion;
    animation-duration: 0.5s; */
}

p{
    text-align: justify;
}
.container{
    background-color: white;
    border-radius: 15px;
}
.page-header{
    color: rgb(173, 173, 173)
    ;
}

#boton-usuarios{
    padding: 5px;
    margin: 10px;
}

#buscarpeli{
    border: 2px solid blue;
    width:500px;
}

#logo{
    width: 70px;
    height: 65px;
    margin-right: 1rem;
    box-shadow: none;
}
body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0; 
    /* background-color: white; */

    background-image: url('https://image.freepik.com/vector-gratis/telon-fondo-cortina-teatro-azul-teatro-opera-o-cine-fondo-escenario-seda-vacia-escena-azul-ilustracion-realista_87720-857.jpg');
    }
img{
    height: 100%;
    -webkit-box-shadow: 14px -12px 16px -8px rgba(199,199,199,1);
    -moz-box-shadow: 14px -12px 16px -8px rgba(199,199,199,1);
    box-shadow: 14px -12px 16px -8px rgba(199,199,199,1);
}

img:hover {filter: opacity(.5);}


